[package]
name = "hello-bevy"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = "0.18.0"

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
codegen-units = 1
lto = "thin"
